.mainclaim{
    min-height: 80vh;
    margin: auto;
}
.claimcnt{
    display: flex;
    margin: auto;
    height: 100px;
    width: 500px;
    border: 1px solid black;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
}
.tkninfo{
  
    display: flex;
    flex-direction: column;
    width: 300px;
    
    text-align: center;
}
.heads{
    display: flex;
    justify-content: space-around;

}
.tknvalue{
    display: flex;
    justify-content: space-around;
}